#item-container {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding: 10px;
}

#question-container {
    padding: 10px;
}

p {
    font-size: 24px;
    font-weight: 600;
    margin: 0 !important;
}

.question {
    display: flex;
    align-items: center;
}

.answer {
    display: flex;
    align-items: center;
}
